<div [@routerTransition]>
    <h2 class="text-muted">Lord Rama <small>His Holiness</small></h2>
    <div class="row">
        <div class="col-md-12">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let slider of sliders">
                    <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="50%">
                    <div class="carousel-caption">
                        <h3>{{slider.label}}</h3>
                        <p>{{slider.text}}</p>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
    <b> A story on greatness of Lord Rama</b><br><br>
	<p> After killing Ravana, Lord Rama is resting on a rock. He notices a shadow approaching him. He realises that the shadow is that of a woman. He does not lift His eyes to see who it is, for, Lord Rama never looks at any woman other than Sita. As the shadow nears Him, Lord Rama pulls His feet up, and sits with His legs folded. This is to avoid even the shadow of the unknown woman touching His feet. So careful is He that none other than His wife should touch Him.
</p><p>
Lord Rama is particular that even the shadow of another woman should not touch Him, said M.V. Anantapadmanabhachariar, in a discourse. The shadow is then seen to recede. Lord Rama wonders who it is, who had come so close to Him and had yet retreated. So He enquires who the person is.
</p><p>
The shadow is that of Mandodari, and she discloses who she is. Lord Rama asks her why she is there. She says she heard that Ravana was killed in battle. Ravana had been a king who had struck fear in the hearts of his enemies. Everyone believed him to be invincible. And yet, he had been killed by someone. She had come to the battlefield to look at the man who killed her husband. She wanted to know what quality He had that her husband did not have. Lord Rama then asks her whether she found what that quality was. Mandodari says she has found that quality. Lord Rama is particular that even the shadow of a woman other than his wife should not touch Him. Ravana, on the other hand, was willing to sacrifice so many lives in his attempt at making another man's wife his. Therein lies the difference. That one quality of Lord Rama has led to His victory, says Mandodari.
</p><p>
Ravana's sin had been so heinous that he had been slain. There was right on the side of Lord Rama. And He was an exception among men. There may be men outwardly loyal to their wives, but their thoughts may go astray.
</p><p>
Lord Rama was the one whose thoughts and words never went astray. When Sita is lost, and Lord Rama sees Her jewels strewn about, He mentions each piece of jewellery and laments the loss of His wife. To Lord Rama, Sita is irreplaceable
	</p>
    <!-- <hr>
    <div class="row">
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'card-primary'" [icon]="'fa-comments'" [count]="26" [label]="'New Comments!'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'card-info'" [icon]="'fa-tasks'" [count]="12" [label]="'New task!'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'card-success'" [icon]="'fa-shopping-cart'" [count]="124" [label]="'New Orders!'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'card-danger'" [icon]="'fa-support'" [count]="13" [label]="'New Tickets!'"></app-stat>
        </div>
    </div>
    <hr />
    <ngb-alert [type]="alert.type" (close)="closeAlert(alert)" *ngFor="let alert of alerts">{{ alert.message }}</ngb-alert>
    <hr />
    <div class="row">
        <div class="col-lg-8">
            <div class="card card-default">
                <div class="card-header">
                    <i class="fa fa-clock-o fa-fw"></i> Responsive Timeline
                </div>
              
                <app-timeline></app-timeline>
            
            </div>
            
        </div>
        
        <div class="col-lg-4">
            <div class="card card-default">
                <div class="card-header">
                    <i class="fa fa-bell fa-fw"></i> Notifications card
                </div>
               
                <app-notification></app-notification>
               
            </div>
         

            <app-chat></app-chat>
            
        </div>
        
    </div> -->
</div>
